*{
	padding: 0;
	margin: 0;
}

body{
	background:  #fff;
	background-size: cover;
	background-position: center;
}

.menu-bar{
	background: rgb(220,20,60);
	text-align: center;
	font-size: 17px;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: black;
}

.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a{
	text-decoration: none;
	color: black;
}

.active, .menu-bar ul li:hover{
	background: white;
	border-radius: 3px;
}

.menu-bar li.hover a{
	border: 5px;
	border-radius: 3px;
}

.menu-bar .fa{
	margin-right: 8px;
}

.pic h1{
	font-size: 50px;
	font-family: serif;
	position: absolute;
	left: 100px;
	top: 120px;
}
	
.pic img{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 100px;
	top: 200px;
}

.pic p{
	position: absolute;
	left: 460px;
	top: 250px;
}

.why h1{
	position: absolute;
	font-size: 45px;
	top: 600px;
	left: 100px;
}

.why img{
	position: absolute;
	width: 300px;
	height: 130px;
	left: 580px;
	top: 100px;
}

.why p{
	position: absolute;
	top: 680px;
	left: 100px;
}

.school p{
	position: absolute;
	left: 460px;
	top: 450px;
}

.school img{ 
	position: absolute;
	width: 180px;
	height: 120px;
	top: 1100px;
	left: 530px;
}

.hobbies h1{
	position: absolute;
	left: 600px;
	top: 600px;
	font-size: 45px;
}

.hobbies p{
	position: absolute;
	top: 680px;
	left: 600px;
}

.hobbies img{
	position: absolute;
	width: 200px;
	height: 130px;
	top: 1100px;
	left: 900px;
}

.fun h1{
	position: absolute;
	top: 920px;
	left: 560px;
	font-size: 45px;
}

.fun p{
	position: absolute;
	top: 980px;
	left: 350px;
}

.fun img{
	position: absolute;
	width: 200px;
	height: 120px;
	top: 1100px;
	left: 100px;
}

.inspire img{
	position: absolute;
	width: 250px;
	height: 400px;
	top: 170px;
	left: 1000px;
}