*{
	padding: 0;
	margin: 0;
}

body{
	background:  #fff;
	background-size: cover;
	background-position: center;
}

.menu-bar{
	background: rgb(220,20,60);
	text-align: center;
	font-size: 17px;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: black;
}

.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a{
	text-decoration: none;
	color: black;
}

.active, .menu-bar ul li:hover{
	background: white;
	border-radius: 3px;
}

.menu-bar li.hover a{
	border: 5px;
	border-radius: 3px;
}

.menu-bar .fa{
	margin-right: 8px;
}

.pics h1{
	position: absolute;
	left: 580px;
	top: 80px;
	font-size: 50px;
}

.pics img{
	width: 360px;
	height: 360px;
	top: 520px;
	left: 140px;
	position: relative;
}

.pics p{
	position: absolute;
	font-size: 20px;
	top: 180px;
	font-family: sans-serif;
	left: 170px;
	text-align: center;
}

.motto img{
	position: absolute;
	width: 300px;
	height: 300px;
	left: 900px;
	top: 160px;
}

.chars img{
	position: relative;
	width: 360px;
	height: 360px;
	top: 600px;
	left: 140px;
}

.art img{
	width: 360px;
	height: 360px;
	position: relative;
	top: 700px;
	left: 140px;
}

.animals img{
	position: relative;
	width: 360px;
	height: 360px;
	top: 810px;
	left: 140px;
}

.random img{
	position: relative;
	width: 360px;
	height: 360px;
	top: 900px;
	left:140px;
}

.canvas img{
	width: 360px;
	height: 360px;
	position: relative;
	top: 980px;
	left: 140px;
}

.canvas h1{
	position: absolute;
	left: 500px;
	top: 540px;
}

.stuff img{
	position: relative;
	width: 360px;
	height: 360px;
	top: 1100px;
	left: 140px;
}

.face img{
	position: relative;
	width: 360px;
	height: 360px;
	top: 1180px;
	left: 140px;
}

.slidershow{
	width: 300px;
	height: 320px;
	overflow: hidden;
}

.middle{
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translatex(-50%);
	display: flex;
}

.bar{
	width: 20px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	
}

.bar:hover{
	background: #fff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}

.slide{
	width: 20%;
	transition: 0.6s;
}

.slide img{
	widthL 100%;
	height: 100%;
}

#r1:checked ~ .s1{
	margin-left: 0;
}

#r2:checked ~ .s1{
	margin-left: -20%;
}

#r3:checked ~ .s1{
	margin-left: -40%;
}

#r4:checked ~ .s1{
	margin-left: -60%;
}

#r5:checked ~ .s1{
	margin-left: -80%;
}

#r6:checked ~ .s1{
	margin-left: -100%;
}

#r7:checked ~ .s1{
	margin-left: -120%;
}

#r8:checked ~ .s1{
	margin-left: -140%;
}