*{
	padding: 0;
	margin: 0;
}

#wholepage{
	min-width: 100%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/clouds.jpg);
	background-size: cover;
	background-position: center;

}

.menu-bar{
	background: rgb(240,68,100);
	text-align: center;
	font-size: 17px;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: black;
}

.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a{
	text-decoration: none;
	color: black;
}

.active, .menu-bar ul li:hover{
	background: white;
	border-radius: 3px;
}

.menu-bar li.hover a{
	border: 5px;
	border-radius: 3px;
}

.menu-bar .fa{
	margin-right: 8px;
}

.curved {
	color: white;
	text-align: center;
	position: relative;
	top: 200px;
}

.curved h1{
	font-size: 30px;
	font-family: sans-serif;
	position: absolute;
	top: -200px;
	left: 100px;
}

.curved p{
	font-size: 50px;
	font-family: serif;
	position: relative;
	color: white;
	top: -30px;
}

.curved svg{
	position: relative;
	top: 50px;
	min-width: 100%;
	min-height: 100%;
}

.paint img{
	width: 400px;
	height: 200px;
	position: absolute;
	top: 120px;
	left: 20px;
}

.paint h1{
	color: white;
	position: absolute;
	left: 70px;
	top: 360px;
}

.paint p{
	color: white;
	position: absolute;
	left: 70px;
	top: 400px;
	font-size: 20px;
}

.artist h1{
	color: white;
	position: absolute;
	left: 820px;
	top: 360px;
}

.artist p{
	color: white;
	position: absolute;
	left: 820px;
	top: 400px;
	font-size: 21px;
}